/* navbar */
@media (max-width: 575.98px) {
  .login-btn {
    margin-left: 0;
  }
}
/* hero section */

@media (max-width: 575.98px) {
  .h-title {
    font-size: 30px;
  }
  .h-subtitle {
    font-size: 14px;
    width: 100%;
  }
  .hero-img img {
    margin-top: 80px;
  }
}
/* Feature section */
@media (max-width: 575.98px) {
  .f-bikes {
    margin-top: 20px;
  }
  .feature-img {
    margin-top: 70px;
  }
}
/* Latest News */
@media (max-width: 575.98px) {
  .news-card {
    margin: 20px auto;
  }
}
/* Client Section */
@media (max-width: 575.98px) {
  .client-item-wrap {
    margin-bottom: 40px;
  }
}

/* Counter section */
@media (max-width: 575.98px) {
  .counter-item {
    margin-bottom: 80px;
    flex-direction: column;
    text-align: center;
  }
  .counter-text {
    margin-top: 30px;
  }
}

/* Contact Us section */
@media (max-width: 575.98px) {
  .mymap {
    margin-top: 60px;
  }
}
