/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
/* font-family: 'Poppins', sans-serif; */

/* Common css */
* {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}
.mybtn {
  display: inline-block;
  background-color: #e76f51;
  padding: 8px 30px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.mybtn:hover {
  background-color: #e45734;
}
/* Header section */
.header-section {
  background-color: #264653;
}
.login-btn {
  margin-left: 100px;
}
.h-pre-title {
  font-size: 14px;
  top: 10px;
}
.h-title {
  font-size: 48px;
  font-weight: 600;
}
.h-subtitle {
  font-size: 16px;
  width: 85%;
}
/* Features section */
.feature-subtitle {
  display: inline-block;
  color: #e76f51;
  font-size: 14px;
  top: -5px;
}
.feature-subtitle::after {
  content: "";
  display: block;
  width: 58px;
  border-bottom: 1px solid #e76f51;
  margin: auto;
}
.feature-img {
  max-width: 288px;
  margin: auto;
}
.f-bikes {
  margin-top: 120px;
}
.g-scale img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
/* Latest News */
.latest-news {
  margin: 100px 0;
}
.news-description {
  font-size: 15px;
  line-height: 30px;
  color: #6c6c6c;
}
/* Client Section */
.client-t-style {
  color: #e76f51;
}
.client-item-wrap {
  width: 90%;
  margin: auto;
  padding: 40px;
  border: 1px solid rgb(233, 233, 233);
}
.client-img img {
  display: block;
  margin: auto;
  width: 149px;
  height: 149px;
  border-radius: 50%;
}
.client-text p {
  color: #6c6c6c;
  font-size: 15px;
  line-height: 30px;
}
.client-rating i {
  color: #e76f51;
}
.name,
.designation {
  font-weight: 600;
}
/* FAQ Section */
.faq-section {
  margin: 150px 0;
}
.faq-img-wrap {
  width: 90%;
}
.faq-description {
  color: #6c6c6c;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}
.faq-title {
  margin-bottom: 100px;
}
/* Footer section */
.footer-section {
  background-color: #0b0d17;
}
